@page "/score"

<PageTitle>Score</PageTitle>

@if (username != null)
{
    <h3>Math Game Scores</h3>
    @if (MathGameScores == null || MathGameHighscore == null || MathGameAllTimeAverage == null)
    {
        <p>Loading...</p>
    }
    else if (MathGameScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>High Score: @MathGameHighscore points</p>
        <p>Average Score: @MathGameAllTimeAverage points</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in MathGameScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score points</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3>Aim Trainer Scores</h3>
    @if (AimTrainerScores == null || AimTrainerHighscore == null || AimTrainerAllTimeAverage == null)
    {
        <p>Loading...</p>
    }
    else if (AimTrainerScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>High Score: @AimTrainerHighscore points</p>
        <p>Average Score: @AimTrainerAllTimeAverage points</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in AimTrainerScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score points</td>
                        <td>@score.Difficulty</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3>Pair Up Scores</h3>
    @if (PairUpScores == null || PairUpHighscore == null || PairUpAllTimeAverage == null)
    {
        <p>Loading...</p>
    }
    else if (PairUpScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>High Score: @PairUpHighscore attempts</p>
        <p>Average Score: @PairUpAllTimeAverage attempts</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Attempts</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in PairUpScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score attempts</td>
                        <td>@score.Difficulty</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <h3>Create an account to track your scores!</h3>
}