@page "/score"

<PageTitle>Score</PageTitle>

@if (username != null)
{
    <h3>Math Game Scores</h3>
    @if (MathGameScores == null)
    {
        <p>Loading...</p>
    }
    else if (MathGameScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>Matches Played: @MathGameMatchesPlayes</p>
        <p>High Score: @MathGameHighscore points</p>
        <p>Average Score: @MathGameAllTimeAverage points</p>
        <h4>Last 10 games:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in MathGameScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score points</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3>Aim Trainer Scores</h3>
    @if (AimTrainerScores == null)
    {
        <p>Loading...</p>
    }
    else if (AimTrainerScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>Total Matches Played: @AimTrainerTotalMatchesPlayed</p>
        <p>Matches Played In Normal Mode: @AimTrainerMatchesPlayedNormalMode</p>
        <p>Matches Played In Hard Mode: @AimTrainerMatchesPlayedHardMode</p>
        <p>High Score On Normal Mode: @AimTrainerHighscoreNormalMode points</p>
        <p>High Score On Hard Mode: @AimTrainerHighscoreHardMode points</p>
        <p>Average Score On Normal Mode: @AimTrainerAllTimeAverageNormalMode points</p>
        <p>Average Score On Hard Mode: @AimTrainerAllTimeAverageHardMode points</p>
        <h4>Last 10 games:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in AimTrainerScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score points</td>
                        <td>@score.Difficulty</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3>Pair Up Scores</h3>
    @if (PairUpScores == null)
    {
        <p>Loading...</p>
    }
    else if (PairUpScores.Count == 0)
    {
        <p>No scores available.</p>
    }
    else
    {
        <p>Total Matches Played: @PairUpTotalMatchesPlayed</p>
        <p>Matches Played In Normal Mode: @PairUpMatchesPlayedNormalMode</p>
        <p>Matches Played In Hard Mode: @PairUpMatchesPlayedHardMode</p>
        <p>High Score On Normal Mode: @PairUpHighscoreNormalMode points</p>
        <p>High Score On Hard Mode: @PairUpHighscoreHardMode points</p>
        <p>Average Score On Normal Mode: @PairUpAllTimeAverageNormalMode attempts</p>
        <p>Average Score On Hard Mode: @PairUpAllTimeAverageHardMode attempts</p>
        <h4>Last 10 games:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Attempts</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in PairUpScores)
                {
                    <tr>
                        <td>@score.showOtherDateTimeFormat()</td>
                        <td>@score.Score attempts</td>
                        <td>@score.Difficulty</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <h3>Create an account to track your scores!</h3>
}