@page "/mathgame"
@inject Projektas.Services.MathGameService MathGameService
@inject Projektas.Services.TimerService TimerService
@rendermode InteractiveServer

<h3>Math Game</h3>

@if (question != null)
{
    // if the question is not null, display the question and input field
    @if (!isSubmitted || result == "Try again!")
    {
        <p>What is @question.Value.Item1 @DisplayQuestionOperationValue(question.Value.Item3) @question.Value.Item2?</p>
        <input @bind="userAnswer" />
        <button @onclick="CheckAnswer">Submit</button>
    }

    // display the result if it is not null
    @if (result != null)
    {
        <p>@result</p>
        // if the answer is correct, show the "Next" button to generate a new question
        @if (result == "Correct!")
        {
            <button @onclick="GenerateQuestion">Next</button>
        }
    }

    // display the current score
    <p>Score: @MathGameService.Score</p>

    // if the time is not up, show the remaining time
    @if (result != "Time's up!")
    {
        <p>Time left: @TimerService.GetRemainingTime() seconds</p>
    }

    // if the time is up, show the "Replay" button to start a new game
    else if (result == "Time's up!")
    {
        <button class="btn btn-primary" @onclick="StartGame">Replay</button>
    }
}
else
{
    // if the question is null, prompt the user to start the game
    <p>Test your math skills!</p>
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}