@page "/mathgame"
@inject Projektas.Services.MathGameService MathGameService
@inject Projektas.Services.TimerService TimerService
@using Projektas.Components
@rendermode InteractiveServer

<div class="container">
    <div class="math-game">
        @if(question != null && isTimesUp == false)
        {
            <div class="app-title">
                Math Game!
            </div>
            <div class="math-game-header">
                <p>What is @question = ?</p>
            </div>
            <div class="math-game-body">
                @foreach (var option in options)
                {
                    <OptionCard Option="@option" OnOptionSelected="CheckAnswer" IsDisabled="@(result == "Correct!")"></OptionCard>

                }

                @if (result != null)
                {
                    <p>@result</p>
                    @if (result == "Correct!")
                    {
                        GenerateQuestionWithDelay();
                    }
                }

                <div class="score-time-container">
                    <div class="score">
                        <p>Score: @MathGameService.Score</p>
                    </div>
                    <div class="time">
                        <p>Time left: @TimerService.GetRemainingTime() seconds</p>
                    </div>
                </div>
            </div>
        }
        else if (isTimesUp == false && question == null)
        {
            <div class="app-title">
                Math Game!
            </div>
            <div class="math-game-header">
                <p>Test your math skills!</p>
            </div>
            <div class="math-game-footer">
                <button class="play-btn" @onclick="StartGame">Start game</button>
            </div>
        }
        else if (isTimesUp == true && question != null)
        {
            <div class="app-title">
                Game over!
            </div>
            <div class="math-game-header">
                <b>You scored @MathGameService.Score points!</b>
            </div>
            <div class="math-game-footer">
                <button class="play-btn" @onclick="StartGame">Play again</button>
            </div>
        }
    </div>
</div>